<div>

    <div class="clr-row" [@fadeInOnEnter]>
        <div>
            <div class="card">
                <div class="card-header">
                    Multi-tier Application Demo Version: [DOCKER_TAG]
                </div>
                <div class="card-block">
                    <div class="card-text">
                        3-Tier application consisting of an Angular frontend running behind
                        Nginx, a Python (Flask) based API, and a PostgreSQL database. The UI framework is
                        <a href="https://clarity.design">ClarityUI</a>. You can see the code for this project on
                        <a href="https://github.com/codyde/hashi-demo-app">GitHub</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-row" [@fadeInOnEnter]>
        <div class="card">
            <div class="card-header">
                Platform Connectivity
            </div>
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col-lg-3 clr-col-sm-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">API Connectivity</h4>
                                    <div class="progress-block">
                                        <label>Status</label>
                                        <div class="progress loop warning" *ngIf="!showCards">
                                            <div class="progress-meter"></div>
                                        </div>
                                        <div class="progress success" *ngIf="showCards">
                                            <progress value="100" max="100"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clr-col-lg-3 clr-col-sm-3">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Database Connectivity</h4>
                                    <div class="progress-block">
                                        <label>Status</label>
                                        <div class="progress loop warning" *ngIf="!dbHealth">
                                            <div class="progress-meter"></div>
                                        </div>
                                        <div class="progress success" *ngIf="dbHealth">
                                            <progress value="100" max="100"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
